@model MyBlog.ViewModels.SignInModel;
@{
    ViewBag.Title = "Sign In";
}


@if (User.Identity.IsAuthenticated)
{
    <p>You are already logged in @User.FindFirst("Username").Value</p>
}
else
{
    <div class="container d-flex justify-content-center">
        <div style="width:300px;">
            <p>Sign in into your account</p>
            <form asp-controller="Auth" asp-action="SignIn" asp-route-returnUrl="@Context.Request.Query["returnUrl"] " method="POST">
                <input type="text" asp-for="Username" placeholder="username" class="form-control mb-1" required />
                <span asp-validation-for="Username" class="text-danger"></span>
                <input type="password" asp-for="Password" placeholder="password" class="form-control mb-1" required />
                <span asp-validation-for="Password" class="text-danger"></span>
                <input type="submit" value="Sign in" class="btn btn-primary btn-block mt-2" />
            </form>
        </div>
    </div>
}
