@model MyBlog.ViewModels.SignUpModel;
@{
    ViewBag.Title = "Sign Up";
}
@if (User.Identity.IsAuthenticated)
{
    <p class="already_logged_in">You are already logged in @User.FindFirst("Username").Value</p>
}
else
{
    <div class="container d-flex justify-content-center">
        <div style="width:300px;">
            <p>Sign up for free!</p>
            <form asp-controller="Auth" asp-action="SignUp" method="POST">
                <input type="text" asp-for="Username" placeholder="username" class="form-control mb-1" required />
                <span asp-validation-for="Username" class="text-danger"></span>
                <input type="password" asp-for="Password" placeholder="password" class="form-control mb-1" required />
                <span asp-validation-for="Password" class="text-danger"></span>
                <input type="password" asp-for="ConfirmPassword" placeholder="password" class="form-control mb-1" required />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <input type="text" asp-for="Address" placeholder="address" class="form-control mb-1" required />
                <span asp-validation-for="Address" class="text-danger"></span>
                <input type="text" asp-for="Email" placeholder="Email" class="form-control mb-1" required />
                <span asp-validation-for="Email" class="text-danger"></span>
                <input type="submit" value="Sign Up" class="btn btn-success btn-block mt-2" />
            </form>
        </div>
    </div>
}