@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model MyBlog.ViewModels.BlogCreateModel;
@{
    ViewBag.Title = "Create Article";
}

<div class="container d-flex justify-content-center">
    <div style="width:600px;">
        <form asp-controller="Home" asp-action="Create" method="POST">
            <div class="form-group">
                <label for="Title">Article Title</label>
                <input type="text" asp-for="Title" class="form-control" id="Title" required>
            </div>
            <div class="form-group">
                <label for="ImageUrl">Article ImageUrl</label>
                <input type="text" asp-for="ImageUrl" class="form-control" id="ImageUrl" required>
            </div>
            <div class="form-group">
                <label for="Author">Article Author</label>
                <input type="text" asp-for="Author" class="form-control" id="Author" required>
            </div>

            <div class="form-group">
                <label for="Content">Article Content</label>
                <textarea class="form-control" asp-for="Content" id="Content" rows="3" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Create</button>
        </form>
    </div>

</div>
