#big-container {
    position: relative;
}

.side-bar-left {
    position: absolute;
    left: -280px;
    top: 15px;
    padding: 1rem;
    background-color: #f2f2f229;
    width: 280px;
}

    .side-bar-left a {
        text-decoration: none;
        color: #666;
        margin:10px 0px;
    }

.side-bar {
    position: absolute;
    right: -280px;
    top: 15px;
    padding: 1rem;
    background-color: #f2f2f229;
    width: 280px;
}

    .side-bar a {
        text-decoration: none;
        color: #666;
    }

.card-article img {
    width: 85px;
    height: 85px;
    border-radius: 3px;
    object-fit: cover;
}

.card-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin:15px 0px;
    padding:0.5rem;
    transition:0.3s ease-in-out;
}
    .card-article:hover {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: #dddddd47;
    }

    .card-article p {
        color: #666;
    }

.card-article-title {
    align-self: flex-start;
}

.btn-view-eye {
    padding: 5px;
    color: #FFF;
    position: relative;
    border-radius: 3px;
}

.btn-view-eye-span {
    padding: 0px 5px;
    position: absolute;
    right: 20px;
    top: 10px;
    background-color: #25A2B8;
    color: #FFF;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
    .mr {
    margin-right: 20px;
}

.card-combo {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
